* {
    margin: 0px;
    padding: 0px;
    font-family: 'Century Gothic', sans-serif;
    /* border: solid black 1px; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

a {
    text-decoration: none;
}


/* header */

header {
    display: flex;
    flex: 0 0 80px;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.logoandnav {
    display: flex;
    flex: 1;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex: 0 0 60px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}


/* nav opener */

.nav_button {
    display: none;
    flex-direction: column;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 900;
    margin: 5px;
    position: relative;
    cursor: pointer;
}

.stripe {
    height: 3px;
    margin: 3px;
    width: 60%;
    background-color: black;
}

#open_icon {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px;
}

#close_icon {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px;
}


/* navbar */

.navigation {
    display: flex;
    flex: 3;
    margin: 5px;
    justify-content: flex-end
}

.button {
    font-weight: bold;
    display: flex;
    height: 40px;
    flex: 1 0 80px;
    max-width: 150px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border-radius: 10px 10px;
    color: green;
    text-transform: uppercase;
}

button {
    font-family: inherit;
}

.button:hover {
    color: gold;
    font-weight: bold;
    background-color: green;
}

.button .hover_image {
    display: none;
}

.button:hover .main_image {
    display: none;
}

.button:hover .hover_image {
    display: block;
}

.button:active {
    background-color: white;
    color: rgb(0, 130, 0);
}

.button img {
    height: 25px;
    width: 25px;
}

.cart_button {
    position: relative;
}

.cart_button .cart_number {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    margin: 3px;
}


/* screensize below 750px */

@media(max-width: 750px) {
    header {
        flex-direction: column;
        flex: 0 0 80px;
        overflow: hidden;
        padding-top: 5px;
    }
    .logoandnav {
        width: 100%;
    }
    .nav_button {
        display: flex;
    }
    .navigation {
        flex-direction: column;
        width: 100%;
    }
    .navigation .button {
        max-width: none;
        flex: 0 0 40px;
    }
}


/* end of header */

section {
    display: flex;
    flex-direction: column
}

#line_seperator {
    height: 2px solid goldenrod;
}

.product {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 460px;
    box-shadow: 2px 2px 2px 2px gold;
    margin: 10px;
    float: left;
}

.product .top_details {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-bottom: solid gold 1px;
}

.product .top_details .product_image {
    width: 90%;
    height: 40vh;
    margin: 10px;
    object-fit: contain;
    transition: all 0.5s ease-in;
}

.product .top_details .action_buttons {
    display: flex;
    flex: 0 0 45px;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 5;
    transition: all 0.5s ease-in;
}

.product .top_details:hover .product_image {
    transform: scale(1.06);
}

.product .top_details .action_buttons .button {
    display: flex;
    flex: 1 1 110px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
    border: grey solid 1px;
}

.product .bottom_details {
    display: flex;
    flex-direction: column;
    flex: 1 0 60px;
    width: 100%;
}

.product .bottom_details p {
    text-transform: capitalize;
    display: flex;
    flex: 0 0 25px;
    align-items: center;
    padding: 5px;
}

.product .bottom_details .product_name {
    text-transform: uppercase;
}

@media(max-width:600px) {
    .section_body {
        justify-content: center;
    }
}


/* .section_header {
    display: flex;
    flex: 0 0 150px;
    align-items: center;
    justify-content: center;
    background-color: gray;
    background-image: url(../images/svgs/logo2.png);
}

.section_header h1 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
} */


/* .section_body {
    display: flex;
    flex: 1 0 250px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    background-color: black;
}

.product {
    display: flex;
    flex-direction: column;
    width: 260px;
    min-height: 360px;
    border: solid grey 2px;
    margin: 10px;
}

.product .top_details {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-bottom: solid grey 1px;
}

.product .top_details .product_image {
    width: 90%;
    margin: 10px;
    transition: all 0.5s ease-in;
}

.product .top_details .action_buttons {
    display: flex;
    flex: 0 0 45px;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 5;
    transition: all 0.5s ease-in;
}

.product .top_details:hover .product_image {
    transform: scale(1.06);
}

.product .top_details .action_buttons .button {
    display: flex;
    flex: 1 1 110px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
    border: grey solid 1px;
}

.product .bottom_details {
    display: flex;
    flex-direction: column;
    flex: 1 0 60px;
    width: 100%;
}

.product .bottom_details p {
    text-transform: capitalize;
    display: flex;
    flex: 0 0 25px;
    align-items: center;
    padding: 5px;
}

.product .bottom_details .product_name {
    text-transform: uppercase;
} */