.order{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 950px;
    border: solid black 1px;
    /* min-width: 470px; */
    margin: auto;
}

.order .order_details{
    display: flex;
    flex: 1 0 150px;
    width: 100%;
    flex-wrap: wrap;
}
.order .order_details .details{
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    margin: 5px;
}
.order .order_details .details p{
    display: flex;
    flex: 1 0 30px;
    align-items: center;
    padding-left: 5px;
    text-transform: capitalize;
}
.order .button{
    flex:0 0 40px;
}
.cart_totals{
    border: none;
}
@media(max-width:470px){
    .order{
    border: none;
    }
    .order .order_details .details{
        border-bottom: solid black 1px;
    }
}